SeptemberPreso/Pods/Pods.xcodeproj/xcuserdata/Kyle.xcuserdatad/xcschemes/Pods-SeptemberPreso 2.xcscheme
SeptemberPreso/Pods/Pods.xcodeproj/xcuserdata/Kyle.xcuserdatad/xcschemes/Pods-SeptemberPreso-MagicalRecord 2.xcscheme
SeptemberPreso/Pods/Pods.xcodeproj/xcuserdata/Kyle.xcuserdatad/xcschemes/Pods-SeptemberPreso-MagicalRecord.xcscheme
SeptemberPreso/Pods/Pods.xcodeproj/xcuserdata/Kyle.xcuserdatad/xcschemes/Pods-SeptemberPreso.xcscheme
SeptemberPreso/Pods
SeptemberPreso/SeptemberPreso.xcodeproj/xcuserdata
SeptemberPreso/SeptemberPreso.xcworkspace/xcuserdata
SeptemberPreso/.idea
